$main-color: peru;

$dark-gray: hsl(240, 10%, 38%);
$light-gray: hsl(0, 0%, 93%);
$light-gray-transparent: hsla(0, 0%, 93%, 0.8);
$dark-gray-transparent: hsla(240, 10%, 38%, 0.5);

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

body {
   background-color: $light-gray;
   line-height: 1.6;
}